body{
    margin: 0px;
    text-align: center;
    font-family: 'Times New Roman',sans-serif;
}
h1{
    font-family: 'Odibee Sans', cursive;
}
.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #ddf3f5;
}
.bottom-cloud{
    position: absolute;
    bottom: 300px;
    left: 500px;
}
.top-cloud{
    position: absolute;
    right: 500px;
    top: 50px;
}
.varun-dutia{
    height: 200px;
    width: 200px;
}
giphy-embed{
    width:200px;
    height:200px; 
    border-radius: 50%;
}